<div class="contact-container">
    <h1>Let’s Connect</h1>
    <p>Ready to transition to renewable energy? Whether you’re interested in Solar EPC, energy consulting, or sustainable power solutions, Eiddo Power is here to help. Reach out to our team to discuss your goals, and let’s work together to create a sustainable, energy-efficient future.</p>
  
    <h2>Our Address:</h2>
    <p>Eiddo Power Headquarters<br />
      10-3-310/1, Castle Hills Technopolis, Masab Tank, Hyderabad, Telangana, India</p>
  
    <h3>Phone: +[Phone Number]</h3>
    <h3>Email: info&#64;eiddoglobal.com</h3>
  </div>
  